<div class="card-historic">
    <div class="component-div-text">
        <div>
            <img class="img-card-historic"
                src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
        </div>
        <div class="histo-text">
            <p class="text-1">{{componentDL.name}}</p>
            <p class="text-2">{{componentDL.desc}}</p>
        </div>
    </div>
    <div class="compoDL-link">
        <a class="compoDL-text-link" href="{{componentDL.link }}">Télécharger le composant</a>
    </div>
</div>