<div *ngIf="!isDetailResto">
    <div class="card--client">
        <img src="{{menu.img}}" class="image-card"/>
        <div class="text-2">{{menu.name}}</div>
        <div class="text-3">{{menu.description}}</div>
        <div *ngIf="isClient">
            <div class="box">
                <h1 *ngIf="isMenu" class="box-price">{{menu.totalPrice}}€</h1>
                <h1 *ngIf="!isMenu" class="box-price">{{menu.price}}€</h1>
                <button *ngIf="isMenu" class="add-panier" (click)="onClick(menu.id,menu.isMenu,menu.name,menu.totalPrice,menu.drink)" >Ajouter au panier</button>
                <button *ngIf="!isMenu" class="add-panier" (click)="onClick(menu.id,menu.isMenu,menu.name,menu.price,false)" >Ajouter au panier</button>
            </div>
        </div>
        <div *ngIf="!isClient" class="forRestaurant">
            <h1 *ngIf="isMenu" class="box-price">{{menu.totalPrice}}€</h1>
            <h1 *ngIf="!isMenu" class="box-price">{{menu.price}}€</h1>
            <div class="edit">EDIT</div>
        </div>

    </div>
</div>

<div *ngIf="isDetailResto">
    <div class="card--client">
        <img src="{{restaurant.img}}" class="image-card"/>
        <div class="text-2">{{restaurant.name}}</div>
        <div class="text-3">{{restaurant.address}}</div>
    </div>
</div>