<div *ngIf="!isDetailResto">
    <div class="card--client">
        <img src="{{menu.img}}" class="image-card"/>
        <p class="text-2">{{menu.name}}</p>
        <p class="text-3">{{menu.description}}</p>
        <div *ngIf="isClient">
            <div class="box">
                <h1 class="box-price">{{menu.price}}</h1>
                <button class="add-panier" >Ajouter au panier</button>
            </div>
        </div>
        <div *ngIf="!isClient" class="forRestaurant">
            <div class="price">{{menu.price}}</div>
            <div class="edit">EDIT</div>
        </div>

    </div>
</div>

<div *ngIf="isDetailResto">
    <div class="card--client">
        <img src="{{restaurant.img}}" class="image-card"/>
        <p class="text-2">{{restaurant.name}}</p>
        <p class="text-3">{{restaurant.address}}</p>
    </div>
</div>