<app-header [type]="type"></app-header>
<div class="panier">
    <div class="div-title">
        <label class="text-title">
            Panier
        </label>
        
    </div>
    <div class="divider"></div>
    <div class="panier-body">
        <div class="panier-article">
            <div *ngFor="let panier of paniers" >
                <app-card-panier [panier]="panier" ></app-card-panier>
            </div>
        </div>
        <div class="panier-recap" *ngIf="paniers.length != 0">
            <div class="summary">
                <div class="text-recap-title">Resumé de la commande</div>
                <div class="line-recap">
                    <div class="text-recap-left">Frais de la commande</div>
                    <div class="text-recap-right">{{panierTest.price}}€</div>
                </div>
                <div class="line-recap">
                    <div class="text-recap-left">Livraison</div>
                    <div class="text-recap-right">{{deliveryFee}}€</div> 
                </div>
                <div class="line-recap">
                    <div class="text-recap-left">Tax</div>
                    <div class="text-recap-right">{{tax}}€</div> 
                </div>
                <div class="line-recap">
                    <div class="text-recap-left">Totale</div>
                    <div class="text-recap-right">{{totalPrice}}€</div>
                </div>
                <div class="recap-button">
                    <button class="button-recap" (click)="createOrder()">
                      <div class="text-recap-button">Passer au paiement</div>
                      <img src="" />
                    </button>
                </div>
              </div>
        </div>
        <div class="panier-recap" *ngIf="paniers.length == 0">
            <h1 class="empty"> PANIER VIDE </h1>
        </div>
    </div>
</div>
