<div class="navigation">
    <div class="logo"><a [routerLink]="['/', type]">CESI EATS</a></div>
    <div class="options" *ngIf="type=='client'">
        <div class="value">
            <a [routerLink]="['/', type]"> Restaurants</a>
        </div>
        <div (click)="goToHistoricPage()" class="value">
            Historique de commandes
        </div>
        <div class="value">
            <a [routerLink]="['/', type, 'profil']"> Mon profil</a>
        </div>
        <button (click)="clickOnButton()" class="cartbutton">Panier</button>
    </div>
    <div class="options" *ngIf="type=='restaurant'">
        <div class="value">
            <a [routerLink]="['/', type]"> Accueil</a>
        </div>
        <div (click)="goToHistoricPage()" class="value">
            Historique de commandes
        </div>
        <div (click)="goToStatistic()" class="value">
            Statistiques
        </div>
        <div class="value">
            <a [routerLink]="['/', type, 'profil']"> Mon profil</a>
        </div>
        <button (click)="clickOnButton()" class="cartbutton">Liste des commandes</button>
    </div>
    <div class="options" *ngIf="type=='delivery'">
        <div class="value">
            <a [routerLink]="['/', type, 'profil']"> Mon profil</a>
        </div>
        <button (click)="clickOnButton()" class="cartbutton">Liste des commandes</button>
    </div>
    <div class="options" *ngIf="type=='developer'">
        <div class="value">
            <a [routerLink]="['/', type, 'profil']"> Mon profil</a>
        </div>
        <button (click)="clickOnButton()" class="cartbutton">Liste des composants</button>
    </div>
    <div class="options" *ngIf="type=='sales'">
        <div>Tableaux de bords</div>
        <button (click)="clickOnButton()" class="cartbutton">Gestions des comptes</button>
    </div>
</div>