<div class="card-historic">
    <div class="component-div-text">
        <div>
            <img class="img-card-historic"
                src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
        </div>
        <div class="histo-text">
            <div class="text-1">{{delivery.name}}</div>
            <div class="text-2">{{delivery.desc}}</div>
        </div>
    </div>
    <div class="compoDL-link" *ngIf="delivery.isAccepted">
        <a class="compoDL-text-link" [routerLink]="['/', 'delivery','details-commande', commandeID]" >Suivre la commande</a>
    </div>
    <div class="compoDL-link" *ngIf="!delivery.isAccepted">
        <a class="compoDL-text-link-double-accept" (click)="onClickAccept(delivery.id)">Accepter</a>
        <a class="compoDL-text-link-double-decline" (click)="onClickRefuse(delivery.id)">Refuser</a>
    </div>
</div>
