.text-title{
    text-align: left;
    vertical-align: bottom;
    font-size: 40px;
    line-height: auto;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}
.div-title{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
}
.delivery{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}
.divider {
    height: 0px;
    width: 87vw;
    border: 2px solid #e6e6e6;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}
.text-commande-histo{
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: right;
    vertical-align: bottom;
}