<app-header [type]="type"></app-header>
<div class="pageheading">
    <div class="title">Création d'un article</div>
</div>
<div class="divider"></div>
<form (ngSubmit)="submitArticle()" [formGroup]="articleForm">
    <div class="content">
        <div class="formValue">
            <div style="padding-bottom: 30px" class="name">
                <div class="label">Nom du article</div>
                <input class="nameInput" formControlName="name" type="text" required>
            </div>
            <div style="padding-bottom: 30px" class="compo">
                <div class="label">Composition du article</div>
                <input class="nameInput" formControlName="compo" type="text" required>
            </div>
            <div style="padding-bottom: 30px" class="price">
                <div class="labelPrice">Prix</div>
                <input class="priceInput" formControlName="price" type="number" required>
            </div>
            <div style="padding-bottom: 50px" class="drink ">
                <div class="labelDrink">Boisson</div>
                <label class="switch">
                    <input class="drinkCheckbox" formControlName="isDrink" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="pic padding">
                <div class="label">Photo de l'article</div>
                <div class="warning">DIMENSION MAX : 250x250</div>
                <input formControlName="photo" required type="file" class="file-upload" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png"/>
            </div>
        </div>
        <div class="summary">
            <div class="summary-card">
                <div class="summary-label-title">Résumé du article</div>
                <img [src]="selectedImage" class="image-card" />
                <div>
                    <div class="summary-label">Nom :</div>
                    <div class="summary-content">{{articleForm.get('name')?.value}}</div>
                </div>
                <div>
                    <div class="summary-label">Composition :</div>
                    <div class="summary-content">{{articleForm.get('compo')?.value}}</div>
                </div>
                    <div class="summary-price">
                        <div class="summary-label">Prix :</div>
                        <div class="summary-content-price">{{articleForm.get('price')?.value}}€</div>
                    </div>
                    <div>
                        <div *ngIf="articleForm.get('isDrink')?.value" class="summary-label">Boisson</div>
                        <div *ngIf="!(articleForm.get('isDrink')?.value)" class="summary-label">Pas boisson</div>
                    </div>
                <button [disabled]="!articleForm.valid" class="confirm-article">
                    <div class="confirm-article-label">Ajouter l'article</div>
                </button>
            </div>
        </div>
    </div>
</form>