<app-header [type]="'restaurant'"></app-header>
<div class="pageheading">
    <div class="title">Création d'un menu</div>
</div>
<div class="divider"></div>
<form (ngSubmit)="submitMenu()" [formGroup]="menusForm">
    <div class="content">
        <div class="formValue">
            <div style="padding-bottom: 30px" class="name">
                <div class="label">Nom du menu</div>
                <input class="nameInput" formControlName="name" type="text" required>
            </div>
            <div style="padding-bottom: 30px" class="compo">
                <div class="label">Composition du menu</div>
                <select formControlName="compo" type="select" class="selectArticle">
                    <option class="optionArticle" *ngFor="let article of articleList" value="{{article}}">{{article}}
                    </option>
                </select>
                <!--<input formControlName="compo" type="text" required>-->
            </div>
            <div style="padding-bottom: 30px" class="price">
                <div class="labelPrice">Prix</div>
                <input class="priceInput" formControlName="price" type="number" required>
            </div>
            <div style="padding-bottom: 50px" class="drink ">
                <div class="labelDrink">Boisson</div>
                <label class="switch">
                    <input class="drinkCheckbox" formControlName="drink" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="pic padding">
                <div class="label">Photo de l'article</div>
                <div class="warning">DIMENSION MAX : 250x250</div>
                <input formControlName="photo" required type="file" class="file-upload" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png"/>
            </div>
        </div>
        <div class="summary">
            <div class="summary-card">
                <div class="summary-label-title">Résumé du menu</div>
                <img [src]="selectedImage" class="image-card" />
                <div>
                    <div class="summary-label">Nom :</div>
                    <div class="summary-content">{{menusForm.get('name')?.value}}</div>
                </div>
                <div>
                    <div class="summary-label">Composition :</div>
                    <div class="summary-content">{{menusForm.get('compo')?.value}}</div>
                </div>
                <div>
                    <div class="summary-price">
                        <div class="summary-label">Prix :</div>
                        <div class="summary-content-price">{{menusForm.get('price')?.value}}€</div>
                    </div>
                    <div>
                        <div *ngIf="menusForm.get('drink')?.value" class="summary-label">Avec boisson</div>
                        <div *ngIf="!(menusForm.get('drink')?.value)" class="summary-label">Sans boisson</div>
                    </div>
                </div>
                <button [disabled]="!menusForm.valid" class="confirm-menu">
                    <div class="confirm-menu-label">Ajouter l'article</div>
                    <div class="confirm-menu-logo">Logo</div>
                </button>
            </div>
        </div>
    </div>
</form>