<app-header [type]="'restaurant'"></app-header>
<div class="pageheading">
    <div class="title">Création d'un menu</div>
</div>
<div class="divider"></div>
<form (ngSubmit)="submitMenu()" [formGroup]="menusForm">
    <div class="content">
        <div class="formValue">
            <div class="name">
                <div class="label">Nom du menu</div>
                <input class="nameInput" formControlName="name" type="text" required>
            </div>
            <div class="compo">
                <div class="label">Composition du menu</div>
                <select formControlName="compo" type="select" class="selectArticle">
                    <option class="optionArticle" *ngFor="let article of articleList" value="{{article}}">{{article}}
                    </option>
                </select>
                <!--<input formControlName="compo" type="text" required>-->
            </div>
            <div class="price">
                <div class="labelPrice">Prix</div>
                <input class="priceInput" formControlName="price" type="number" required>
            </div>
            <div class="drink">
                <div class="labelDrink">Boisson</div>
                <!--<input class="drinkCheckbox" type="checkbox" formControlName="drink">-->
                <label class="switch">
                    <input class="drinkCheckbox" formControlName="drink" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="pic">
                <div class="label">Photo de l'article</div>
                <input formControlName="photo" required type="file" class="file-upload" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png"/>
            </div>
        </div>
        <div class="summary">
            <div class="summary-card">
                <div class="summary-label-title">Résumé du menu</div>
                <img [src]="selectedImage" class="image-card" />
                <div>
                    <div class="summary-label">Nom :</div>
                    <div class="summary-content">{{menusForm.get('name')?.value}}</div>
                </div>
                <div>
                    <div class="summary-label">Composition :</div>
                    <div class="summary-content">{{menusForm.get('compo')?.value}}</div>
                </div>
                <div>
                    <div class="summary-price">
                        <div class="summary-label">Prix :</div>
                        <div class="summary-content">{{menusForm.get('price')?.value}}€</div>
                    </div>
                    <div>
                        <div class="summary-label"> Boisson :</div>
                        <div class="summary-content">{{menusForm.get('drink')?.value}}</div>
                    </div>
                </div>
                <button class="confirm-menu">
                    <div class="confirm-menu-label">Ajouter l'article</div>
                    <div class="confirm-menu-logo">Logo</div>
                </button>
            </div>
        </div>
    </div>
</form>