
<div class="container">
  <h1>{{ title }}</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Promo</th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ahmed</td>
        <td>FISA INFO A4</td>
      </tr>
      <tr>
        <td>Paul</td>
        <td>FISA INFO A4</td>
     
      </tr>
      <tr>
        <td>Nicolas</td>
        <td>FISA INFO A4</td>
     
      </tr> 
       <tr>
        <td>Theo</td>
        <td>FISA INFO A4</td>
     
      </tr>
      <tr>
        <td>Warren</td>
        <td>FISA INFO A4</td>
     
      </tr>
    </tbody>
  </table>
</div>
