.pageheading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #e6e6e6;
    padding: 0px 50px 20px 100px;
    margin-bottom: 20px;
  }

  body {
    margin: 0;
}

.title {
    text-align: left;
    vertical-align: bottom;
    font-size: 64px;
    letter-spacing: -2%;
    line-height: 120%;
    color: #000000;
    align-items: flex-end;
}

.card{
    display: flex;
    width: 100vm;

    padding: 10px 0px 10px 100px;
}

