<div class="pagedeconnexion">
    <img src="https://fr.ooni.com/cdn/shop/articles/Margherita-9920.jpg?crop=center&height=800&v=1644590066&width=800"
        class="img-half-screen" />

    <form class="login--form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="title--signin--signup--pages">
            <p class="text-title">Inscription</p>
            <div class="line-title"></div>
        </div>
        <div class="login--fields">

            <div class="input--field">
                <p class="text-input-name">Qui suis-je ?</p>
                <select class="text-input" formControlName="type" [ngModel]="selectedValue"
                    (ngModelChange)="onOptionChange($event)">
                    <option value="client" class="text-option" selected="client">Client</option>
                    <option value="restaurateur" class="text-option">Restaurateur</option>
                    <option value="livreur" class="text-option">Livreur</option>
                    <option value="developpeur" class="text-option">Développeur Tier</option>
                </select>
            </div>

            <div *ngIf="selectedValue=='client'">

                <div class="input-double">
                    <div class="double-1">
                        <p class="text-input-name">Prénom</p>
                        <input class="text-input-double-1" type="text" required autocomplete="off"
                            formControlName="surname" />
                    </div>

                    <div class="double-2">
                        <p class="text-input-name">Nom</p>
                        <input class="text-input-double-2" type="text" required autocomplete="off"
                            formControlName="name" />
                    </div>
                </div>

                <div class="input--field">
                    <p class="text-input-name">Adresse</p>
                    <input class="text-input" type="text" formControlName="address">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Adresse mail</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Numéro de Téléphone</p>
                    <input class="text-input" type="text" formControlName="phone">
                </div>

                <div class="input-double">
                    <div class="double-1">
                        <p class="text-input-name">Mot de Passe</p>
                        <input class="text-input-double-1" type="password" required autocomplete="off"
                            formControlName="password" />
                    </div>

                    <div class="double-2">
                        <p class="text-input-name">Confirmer Mdp</p>
                        <input class="text-input-double-2" type="password" required autocomplete="off"
                            formControlName="repassword" />
                    </div>
                </div>

            </div>

            <div *ngIf="selectedValue=='restaurateur'">

                <div class="input--field">
                    <p class="text-input-name">Nom du Restaurant</p>
                    <input class="text-input" type="text" formControlName="restName">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Adresse du Restaurant</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Adresse mail</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Numéro de Téléphone</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input-double">
                    <div class="double-1">
                        <p class="text-input-name">Mot de Passe</p>
                        <input class="text-input-double-1" type="password" required autocomplete="off"
                            formControlName="password" />
                    </div>

                    <div class="double-2">
                        <p class="text-input-name">Confirmer Mdp</p>
                        <input class="text-input-double-2" type="password" required autocomplete="off"
                            formControlName="repassword" />
                    </div>
                </div>
            </div>

            <div *ngIf="selectedValue=='livreur'">
                <div class="input-double">
                    <div class="double-1">
                        <p class="text-input-name">Prénom</p>
                        <input class="text-input-double-1" type="text" required autocomplete="off"
                            formControlName="surname" />
                    </div>

                    <div class="double-2">
                        <p class="text-input-name">Nom</p>
                        <input class="text-input-double-2" type="text" required autocomplete="off"
                            formControlName="name" />
                    </div>
                </div>

                <div class="input--field">
                    <p class="text-input-name">Adresse</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Adresse mail</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Numéro de Téléphone</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input-double">
                    <div class="double-1">
                        <p class="text-input-name">Mot de Passe</p>
                        <input class="text-input-double-1" type="password" required autocomplete="off"
                            formControlName="password" />
                    </div>

                    <div class="double-2">
                        <p class="text-input-name">Confirmer Mdp</p>
                        <input class="text-input-double-2" type="password" required autocomplete="off"
                            formControlName="repassword" />
                    </div>
                </div>
            </div>

            <div *ngIf="selectedValue=='developpeur'">

                <div class="input--field">
                    <p class="text-input-name">Adresse mail</p>
                    <input class="text-input" type="text" formControlName="mail">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Clé de Sécurité</p>
                    <input class="text-input" type="text" formControlName="key">
                </div>

                <div class="input--field">
                    <p class="text-input-name">Numéro de Téléphone</p>
                    <input class="text-input" type="text" formControlName="phone">
                </div>

                <div class="input-double">
                    <div class="double-1">
                        <p class="text-input-name">Mot de Passe</p>
                        <input class="text-input-double-1" type="password" required autocomplete="off"
                            formControlName="password" />
                    </div>

                    <div class="double-2">
                        <p class="text-input-name">Confirmer Mdp</p>
                        <input class="text-input-double-2" type="password" required autocomplete="off"
                            formControlName="repassword" />
                    </div>
                </div>
            </div>

            <div class="button">
                <input type="submit" class="text-4 form-input-button" value="Inscription">
            </div>

            <div class="text-link">
                <a href="/auth" class="text-link">
                    Avez vous déja un compte? Connectez-vous
                </a>
            </div>
        </div>


    </form>
</div>